title {
    text-align: left;
    color: lightblue;
}

h1 {
    text-align: left;
    color: lightblue;
}

header {
    text-align: left;
    color: lightblue;
}

.topnav {
background-color: #333;
overflow: hidden;
}

body {
    position: center;
    text-align: center;
    text-align: justify;
    line-height: 2;
    color: orchid;
    width: 500px;
    padding: 25px;
}



footer {
    text-align: right;
    color: lightblue;
}