title {
    text-align: left;
    color: lightblue;
}

h1 {
    text-align: left;
    color: lightblue;
}

header {
    text-align: left;
    color: lightblue;
}

body {
    text-align: center;
    text-align: justify;
    line-height: 2;
    color: orchid;
    width: 500px;
    padding: 25px;
}